body {
    /* background-image: url(https://images.pexels.com/photos/713149/pexels-photo-713149.jpeg?auto=compress&cs=tinysrgb&w=600); */
    font-family: Arial, sans-serif;
    background-color: #141e30;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-box {
    background-color: #ffffff;
    padding: 30px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,1);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 25px;
    color: black;
}

.login-box label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

.login-box input {
    width: 93%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.signup-box .gender {
    input[type="radio"] {
    accent-color: red;
}

}



.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #243b55;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #141e30;
}

.login-box p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.login-box a {
    color: #243b55;
    text-decoration: none;
    font-weight: bold;
}