* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #c0d8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.payment-container {
    background-color: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgb(58, 96, 163);
}

.payment-container h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}

.amount-box {
    background-color: #f1f1f1;
    text-align: center;
    padding: 15px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 8px;
    margin-bottom: 20px;
}

.amount-box p {
    font-size: 14px;
    color: #646161;
}

.amount-box h3 {
    color: green;
    font-size: 24px;
}

form h4 {
    margin-bottom: 10px;
    color: #444;
}

.payment-option {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}

.payment-option input {
    margin-right: 10px;
    margin-left: 10px;
}

.payment-option img {
    width: 40px;
    margin-right: 10px;
}

.payment-option:hover {
    background: #f9f9f9;
}

.submit-button {
    width: 100%;
    background: #3c5d9a;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #23365e;
}