body {
    /* background: linear-gradient(to right, #1c1c1c, #434343); */
    background-color: #141e30;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup-box {
    width: 420px;
    background-color: #ffffff;
    padding: 25px;
    margin: 50px auto;
    border-radius: 12px;
    box-shadow: 0 0 15px black;
}

h2 {
    text-align: center;
    color: #000000;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: 600;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

/* .gender {
    margin-top: 5px;

} */
 
#male {
   position: relative;
   bottom: 22px;
   right: 140px;
}

  #female {
    position: relative;
    bottom: 22px;
    right: 140px;
 }

.terms {
    margin-top: 12px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #0F2854;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
/* 
button:hover {
    background-color: #990000;
} */

.clear {
    background-color: #1C4D8D;
}

/* .clear:hover {
    background-color: #444;
} */

form a {
    text-decoration: none;
    color: #243b55;
    font-weight: bold;
}